force-app/main/default/flows/Add_Episode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>AddNew</name>
        <choiceText>Add New Season</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSet</name>
        <choiceText>Add New</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <elementReference>AddNew</elementReference>
        </value>
    </choices>
    <choices>
        <name>New_season</name>
        <choiceText>New Season</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>NewSeason</name>
        <choiceText>Add New Season</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>If_New</name>
        <label>If New</label>
        <locationX>398</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Create_New_Season</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Choosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seasons_selection</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Create_New_Season</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Episode_Details</targetReference>
            </connector>
            <label>Existing Choosen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Seasons_selection</name>
        <dataType>String</dataType>
        <displayField>Season_No__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tv_series__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Season__c</object>
        <outputAssignments>
            <assignToReference>seasonId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Season_No__c</sortField>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Add Episode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Episode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Episode</name>
        <label>Create Episode</label>
        <locationX>171</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>New_Episode_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Season__c</field>
            <value>
                <elementReference>seasonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <object>Episode__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Season</name>
        <label>Create New Season</label>
        <locationX>403</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Choose_Season</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Tv_series__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Choose_Season</name>
        <label>Choose Season</label>
        <locationX>173</locationX>
        <locationY>212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_New</targetReference>
        </connector>
        <fields>
            <name>Season_Selector</name>
            <choiceReferences>Seasons_selection</choiceReferences>
            <choiceReferences>New_season</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Season</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Episode_Details</name>
        <label>New Episode Details</label>
        <locationX>171</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Episode</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>45</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Season</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Something went wrong, please try again&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Episode_Confirmation</name>
        <label>New Episode Confirmation</label>
        <locationX>174</locationX>
        <locationY>718</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>New_Episode</name>
            <fieldText>&lt;p&gt;New Episode Has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Choose_Season</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>seasonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
